/* -------------Topbar part------------- */
.Topbar {
  width: 100%;
  height: 75px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid white;
  box-shadow: rgb(233, 224, 224) 0 2px 8px 0;
  justify-content: space-between;
  z-index: 1;
}
.style_a {
  color: #000000;
  font-weight: bolder;
  /* font-family: 'Rockwell'; */
}
.logostyle {
  width: 60px;
  height: 60px;
  margin-left: 100px;
  margin-top: 7.5px;
}
.UKstyle {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 40px;
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
}
.Topbar_menu {
  display: flex;
  margin-top: 15px;
  align-items: center;
  margin-right: 200px;
  justify-content: space-evenly;
}
.Topbar_menu p {
  margin-left: 50px;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  font-family: Arial;
}
.Topbar_menu a {
  text-decoration: none;
}
.Topbar_menu a:hover {
  min-width: 0px;
  padding: 6px;
  transition: all 0.1s ease-in 0s;
  color: #000000;
  border: 3px solid rgb(255, 209, 0);
  backdrop-filter: blur(10px);
  box-shadow: rgb(255 209 0) -5px -5px 0px -2px;
}
.Topbar_menu p > a:hover {
  color: #000000;
  text-decoration: none;
}
/* --------------Imagebar part------------- */
.Image_out {
  position: absolute;
  background-image: url(./images/picture_food.png);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 370px;
  top: 75px;
}
.Image_effect {
  position: absolute;
  width: 100%;
  height: 370px;
  top: 75px;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.Image_text {
  margin-left: 150px;
  margin-top: 120px;
  font-family: "Brush Script MT";
  font-weight: bold;
}
.image_text h1 {
  font-size: 60px;
}
.Pick-Out {
  margin-top: 20px;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0px 12px;
}
.Pick-in {
  height: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0px 12px;
  background: rgb(20, 232, 140);
  color: #000000;
  font-weight: bold;
}
.Pick-in svg {
  height: 30px;
}
.PickUp {
  margin: 0px 0px 0px 12px;
  padding: 0px;
  font-weight: bold;
}
/* -------------main part------------- */
.ContainerApp {
  display: flex;
  overflow: visible;
  padding: 0px;
  top: 465px;
  position: absolute;
  width: 100%;
}
.Container-Main-Menu {
  margin-top: 50px;
  position: relative;
  flex-direction: column;
  text-align: right;
  overflow-y: visible;
}
.Container-Main-Menu1 {
  margin-top: 90px;
  position: relative;
  flex-direction: column;
  text-align: right;
  overflow-y: visible;
}
.Container-Main-scroll {
  margin-top: 50px;
  position: relative;
  flex-direction: column;
  text-align: right;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}
.MENUSTYLE {
  position: sticky;
  top: 95px;
  margin-right: 0%;
}
.scroll a {
  color: green;
  text-decoration: none;
}
.scroll :hover {
  color: #e42525;
  text-decoration: none;
}
.Container-Main-scroll p:hover {
  color: #121314;
  text-decoration: none;
  border: 1px solid rgb(255, 209, 0);
  display: inline-flex;
  border-radius: 20px;
  background-color: black;
}

.search {
  padding: 0;
}
.bt {
  padding: 0;
}
.input {
  width: 150px;
  font-size: 20px;
  font-family: "Brush Script MT";
}
input:hover {
  width: 150px;
  transition: 0.3s;
}

.scroll {
  cursor: pointer !important;
  margin-right: 10px;
  background-color: white;
  color: black;
}
.active {
  background-color: rgb(147, 54, 54);
  color: white;
}
.DishItemStyle {
  margin: 0px 0px;
  text-align: center;
  background-color: #ecdfdf;
  z-index: 1;
  border-radius: 12px;
  offset: -200px;
}
.DishItemStyle h3 {
  font-weight: bold;
  font-family: "Segoe Print";
}
.ElementStyle {
  z-index: 0;
  position: relative;
  margin-bottom: 20px;
}
.GoodStyle {
  padding: 0px;
  margin: 0px;
  list-style: none;
  animation-name: example;
  animation-duration: 3s;
}
.Good-out {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 20px;
  cursor: pointer;
  transition-duration: 500ms;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@keyframes example {
  from {
    background-color: yellow;
  }
  to {
    background-color: white;
  }
}
.Good-out:hover {
  background-color: white;
  box-shadow: rgb(203, 204, 224) 2px 2px 8px 4px;
}
.Sallery-Good-out {
  display: flex;
  padding: 0.5rem 10px;
  cursor: pointer;
  transition-duration: 500ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}
.Sallery-Good-out h6 {
  font-family: "MV Boli";
  font-weight: bold;
}
.GoodComponent {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: left;
  font-family: "MV Boli";
}

#buttonstyle {
  display: flex;
  flex-wrap: nowrap;
  width: 86px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 209, 0);
  border-radius: 12px;
  align-self: center;
  font-weight: 700;
  transition-duration: 500ms;
  overflow: hidden;
  z-index: 1;
}
#buttonstyle-sallery {
  display: flex;
  flex-wrap: nowrap;
  width: 70px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(132, 132, 54);
  align-self: center;
  font-weight: 700;
  transition-duration: 500ms;
  overflow: hidden;
  margin-left: -90px;
  z-index: 1;
  padding: 0;
}
.linkTag {
  position: relative;
  display: flex;
  flex: 1 1 1%;
  height: inherit;
  align-items: center;
  margin: 0px;
}
.Value :hover {
  box-shadow: rgb(15, 16, 8) 0 2px 8px 0;
}
.Space {
  display: block;
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, 0.4);
}
.ButtonTag {
  width: 35%;
  height: 100%;
  line-height: 2.5rem;
  text-align: center;
}
.ButtonTag:hover {
  background-color: rgb(232, 252, 5);
}
.ButtonTag-Total {
  width: 30%;
  height: 151%;
  line-height: 2.5rem;
  text-align: center;
}
.Value {
  padding: 30px;
  font-family: "Comic Sans MS";
  /* font-weight: bold; */
}
.Value1 {
  padding: 6px;
}
.Value2 {
  padding: 6px;
  background-color: white;
}
.sallery-out {
  margin-top: 30px;
  position: sticky;
  top: 100px;
  width: 100%;
}
.SalleryOutStyle {
  box-sizing: border-box;
  min-height: 1px;
  position: relative;
  padding-left: 20px;
  padding-right: 0px;
  width: 100%;
  flex-basis: 33.333333333333336%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  right: auto;
  left: auto;
}
.SalleryOutStyle h3 {
  font-weight: bold;
  font-family: "MV Boli";
  font-size: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sallery {
  bottom: 0px;
  padding: 0px;
  margin-left: 20%;
  margin-top: 10%;
  position: relative;
  max-height: 600px;
  width: 20vw;
  align-items: center;
}
.sallery h4 {
  font-family: "MV BOli";
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 22px;
}
.sallery h3 {
  text-align: center;
  font-size: 26px;
  margin: 0px -12px 12px;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  font-weight: 600;
}
.checkout {
  background-color: rgb(102, 95, 95);
  display: block;
  color: rgb(255, 255, 255);
  padding: 12px;
  margin: 0px 0px 12px;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  font-family: "Comic Sans MS";
  font-size: 20px;
}
.rightsallery {
  margin-top: 8px;
  margin-left: 0px;
  text-align: right;
}
.Total {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 20px;
  cursor: pointer;
  transition-duration: 500ms;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.Total h6 {
  font-family: "Comic Sans MS";
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .logostyle {
    display: none;
  }
  .UKstyle {
    display: none;
  }

  .bt {
    display: none;
  }
  .searchbar {
    margin-top: 0px;
  }
  .Topbar {
    display: none;
  }
  .menubar-align li {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: 25px;
  }
  .menubar-align {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    align-items: center;
    overflow-x: scroll;
    width: 100px;
    height: 119px;
  }
  .input {
    width: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    align-items: center;
    flex: 100%;
  }
  .sallery {
    width: 50vw;
  }
  .iconsize4 {
    display: none;
  }
  .iconsize5 {
    display: none;
  }
}
.menubar-align {
  margin-top: 60px;
  text-decoration: none;
  width: 100%;
}
.menubar-align li {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 10px;
}
.menubar-align ul {
  margin: 13px;
  padding-left: 0px;
}
.menubar-align a {
  font-size: 20px;
  font-family: "MV Boli";
  text-decoration: none;
  color: rgb(36, 36, 36);
  cursor: pointer !important;
}
.menubar-align link:hover {
  color: rgb(236, 57, 17);
  /* background-color: aqua; */
  /* border-radius: 9999px; */
}
/* .menubar-align a:active {
  background-color: black;
  color: white;
  border-radius: 20px;
} */
.is-current a {
  background-color: rgb(54, 214, 76);
  color: white;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  font-size: 23px;
  transition-delay: 0ms;
  transition-duration: 0.0000000000001ms;
  box-shadow: rgb(254, 250, 4) 2px 2px 8px 3px;
}
.spyItemClass {
  color: tomato;
}
.hidden {
  display: none;
}
.footer-out {
  text-align: center;
  background-color: rebeccapurple;
  color: white;
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: -4900px;
}
/* .active-scroll-spy {
  margin-top: -40px;
} */
.iconsize {
  height: 30px;
  width: 50px;
  color: blue;
  margin-left: 10px;
}
.iconsize1 {
  height: 30px;
  width: 50px;
  color: rgb(229, 223, 39);
}
.iconsize2 {
  height: 30px;
  width: 50px;
  color: rgb(232, 17, 207);
}
.iconsize3 {
  height: 30px;
  width: 50px;
  color: rgb(30, 233, 78);
}
.iconsize4 {
  height: 30px;
  width: 50px;
  color: rgb(233, 179, 31);
}
.iconsize5 {
  height: 30px;
  width: 50px;
  color: rgb(255, 0, 0);
}
.alignicon {
  align-items: center;
  margin-left: 125px;
}
.translate {
  z-index: 10;
  position: relative;
  top: 30;
  left: 50px;
}
#google_translate_element {
  position: inherit;
  z-index: 10;
}
.icon0 {
  color:greenyellow;
}